<div>
  <img class="player" src="./assets/warrior.png" />
  <div>
    <p>Health:</p>
    <md-progress-bar color="warn" mode="determinate" [value]="health"></md-progress-bar>
  </div>
  <div>
    <p>Magic:</p>
    <md-progress-bar color="primary" mode="determinate" [value]="magic"></md-progress-bar>
  </div>
  <div>
    <p>Awesomeness:</p>
    <md-progress-bar color="accent" mode="determinate" [value]="awesomeness"></md-progress-bar>
  </div>
</div>


  <!--<div *ngIf="player$ | async; let player">
    <div>
      <p>Health:</p>
      <md-progress-bar color="warn" mode="determinate" [value]="player.health"></md-progress-bar>
    </div>
    <div>
      <p>Magic:</p>
      <md-progress-bar color="primary" mode="determinate" [value]="player.magic"></md-progress-bar>
    </div>
    <div>
      <p>Awesomeness:</p>
      <md-progress-bar color="accent" mode="determinate" [value]="player.awesomeness"></md-progress-bar>
    </div>
  </div>-->
